
<!DOCTYPE html>
<head>
    <title>Basic Form Demo</title>
</head>
<body>
    <h1>Basic Form Demo</h1>
    
    <h2>Current User Information</h2>
    <p><strong>Name:</strong> {{user.name}}</p>
    <p><strong>Message:</strong> {{user.msg}}</p>
    
    <div>
        <a href="/change">Change Name</a>
    </div>
    
    
</body>
</html>

