<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  {{> nav}}

  <main>
    <h2>Register</h2>

    {{#if error}}
      <p style="color:red;">Please fill out all fields and make sure passwords match.</p>
    {{/if}}

    <form method="POST" action="/register">
      <div>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required>
      </div>

      <div>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required>
      </div>

      <div>
        <label for="confirm">Confirm Password:</label><br>
        <input type="password" id="confirm" name="confirm" required>
      </div>

      <div>
        <button type="submit">Register</button>
        <a href="/">Cancel</a>
      </div>
    </form>
  </main>

  {{> footer}}
</body>
</html>
