<header>
  <nav>
    {{#if user.isLoggedIn}}
      <a href="/">Home</a>
      <a href="/comments">Comments</a>
      <a href="/chat">Chat</a>
      <a href="/profile">Profile</a>
      <div class="nav-user-info">
        Welcome, {{user.displayName}}!
        <a href="/logout">Logout</a>
      </div>
    {{else}}
      <a href="/">Home</a>
      <a href="/comments">Comments</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    {{/if}}
  </nav>
</header>

